.sidebar {
}

.sidebar.open {
}

.background {
}

.nav {
}

.nav a {
    color: #0059B2;
    font-size: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.nav a:hover {
    color: #58ACFF;
    font-size: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav a.active {
    color: #58ACFF;
    font-size: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.close {
}

.close img {
}
