:root {
    --primary-100: #06C;
    --light-140: #FFF;
    --danger-100: #CC1439;
}

.button {
    display: inline-flex;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background: var(--primary-100);
    color: var(--light-140);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.disabled {
    display: inline-flex;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    opacity: 0.5;
    background: #004D99;
    color: #002E5C;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.red {
    display: inline-flex;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background: var(--danger-100);
    color: var(--light-140);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.secondary {
    display: inline-flex;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    border: 1px solid var(--primary-100);
    color: var(--primary-100);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    background-color: white;

}

.button:hover {
    background: #0080FF;
}

.red:hover {
    background: #FF1A47;
}

.disabled:hover {
    cursor: not-allowed;
}

.secondary:hover {
    background: #E5F0FA;
}

.button:active {
    background: #0059B2;
}

.red:active {
    background: #B21232;
}

.secondary:active {
    background: #C9E5FF;
}
